---
layout: default
---

  <div class="port-image">
      <div class="port-teaser-image" {% if site.cover %}style="background-image: url(/images/39982a21.jpeg)"{% endif %}>
          Teaser Image
      </div>
  </div>
<script>
    (function ($) {
        "use strict";

        $(document).ready(function(){

            var $window = $(window),
                $image = $('.port-teaser-image');
            $window.on('scroll', function() {
                var top = $window.scrollTop();

                if (top < 0 || top > 1500) { return; }
                $image
                    .css('transform', 'translate3d(0px, '+top/3+'px, 0px)')
                    .css('opacity', 1-Math.max(top/700, 0));
            });
            $window.trigger('scroll');

        });

    }(jQuery));
</script>
  
  <div class="portfolio-title">
    <h1>Work</h1>
  </div>

    <div class="about-title">
      <h2></h2>  
    </div>        
      <div class="about-summary">
        <p>Hi, my name is Alan.
        <br />
        <br />
          I am a web developer based in Atlanta, GA.  I am passionate about code and building awesome things on the internet.  My current tools of the trade are Ruby, Ruby on Rails, and PostgreSQL.  I have a mixed background in Health Science, music recording, and bartending.  When I am not coding, you can find me listening to music, enjoying a good cup of coffee, and watching football (aka, soccer).  If you would like to work with me, feel free to get in contact with me.
        </p>
      </div>

      <!-- <div class="contact-info">
        <h2>Alan Matthews - Rails Developer</h2>
      </div> -->

      <div class="custom-links-portfolio">
        <span title="Github"><a class="icon-github-port" href="https://github.com/matthewsalan" target="_blank">
          <i class="fa fa-github"></i>
        </a></span>
            &nbsp;&nbsp;·&nbsp;&nbsp;
        <span title="Linkedin"><a class="icon-linkedin-port" href="http://www.linkedin.com/pub/alan-matthews/22/16a/168/en" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a></span>
            &nbsp;&nbsp;·&nbsp;&nbsp;
        <span title="Email Me"><a class="email-icon" href="mailto:matthewsa1320@gmail.com">
          <i class="fa fa-paper-plane"></i>
        </a></span>
            &nbsp;&nbsp;·&nbsp;&nbsp;
        <span title="My Resume"><a class="resume-icon" href="/resume/">
          <i class="fa fa-file-text-o"></i>
        </a></span>
      </div>

      <div class="examples">
        <h3>The Farmers Market</h3>
          <div class="farmerslogosmall">
            <br />
            <img src="/images/farmerslogosmall.png">
          </div>
          <p>The Farmers Market was the capstone project during my time at The Iron Yard.  I've been bartending for the past two years and one of my customers, a local chef, gave me the idea for the app.  He talked about how he wished there was a way for local farmers to put their crops online, so then local chef's and restaurants would be able to look for the foods they wanted.  The farm to table movement is growing and the aim of this app was to aid in that growth.</p>
          <br />
          <div class="tech-stack">
            <b>Tech Stack:</b>
          </div>
          <br />
          <div class="stack-images">
            <div class="s3-icon">
              <span title="Amazon S3"><img src="/images/AmazonS3.png" alt="Amazon S3"></span>
            </div>  
            <div class="heroku-icon">
             <span title="Heroku"><img src="/images/heroku.png" alt="Heroku"></span>
            </div>  
            <div class="rails-icon">
              <span title="Ruby On Rails"><img src="/images/rails.png" alt="Ruby On Rails"></span>
            </div>
              <span title="Mandrill"><img src="/images/mandrill-shield.png" alt="Mandrill"></span>
            <br />
            <br />  
            <a href="http://development.farmersmarket.divshot.io/#/" target="_blank">View Live</a> |
            <a href="https://github.com/matthewsalan" target="_blank">View Code</a>    
          </div>
          <br />
          </p>  
          <br />
          <br />
        
        <h3>Genius Sports</h3>
          <div class="gslogo">
            <img src="/images/gs-sports.png">
          </div>
          <p>Genius Sports is a youth sports team management app developed for a hackathon at The Iron Yard.  My team included two other Ruby on Rails students for the back end, as well as front end and iOS mobile students.  We had thirty six hours to design and implement an app to be judged by the team at SOLTECH, who also sponsored the event and supplied the projects for the hackathon.  This app was a lot of fun to make and also taught me a great deal about working in a team while developing software.</p>
          <br />
          <div class="tech-stack">
            <b>Tech Stack:</b>
          </div>
          <br />
          <div class="stack-images">
            <!-- <img src="/images/AmazonS3.png"> -->
            <div class="heroku-icon">
              <span title="Heroku"><img src="/images/heroku.png" alt="Heroku"></span>
            </div>  
            <div class="rails-icon">
              <span title="Ruby On Rails"><img src="/images/rails.png" alt="Ruby On Rails"></span>
            </div>
              <span title="Mandrill"><img src="/images/mandrill-shield.png" alt="Mandrill"></span>
            <br />
            <br />
            <a href="https://github.com/matthewsalan" target="_blank">View Code</a>
          </div>
          </p>
          <br />
          <br />
          <br />
        
        <h3>Todo List</h3>
          <div class="todolist-logo">
            <img src="/images/todolist.png">
          </div>
          <p>This is a simple Rails CRUD app for making todo lists.  It helped to re-inforce the MVC concepts going behind the scenes in Rails.  The app allows users to create todo lists and add todo items for each list.  The user can also edit and delete any list of their own.  The app uses Devise for authentication.  Bootstrap was used for the styling, utilizing a Bootswatch theme</p>
            <br />
            <div class="tech-stack">
              <b>Tech Stack:</b>
            </div>
            <br />
            <div class="stack-images">
              <div class="heroku-icon">
                <span title="Heroku"><img src="/images/heroku.png" alt="Heroku"></span>
              </div>  
              <div class="rails-icon">
                <span title="Ruby On Rails"><img src="/images/rails.png" alt= "Ruby On Rails"></span>
              </div>
                <span title="Bootstrap"><img src="/images/bootstrap.png" alt="Bootstrap"></span>
              <br />
              <br />
              <!-- <a href="https://github.com/matthewsalan" target="_blank">View Live</a> | -->
              <a href="https://github.com/matthewsalan" target="_blank">View Code</a>
            </div>
          </p>
          <br />
          <br /> 
          <br />
          
        <h3>Raddit</h3>
        <div class="raddit-logo">
          <img src="/images/raddit.png">
        </div>
          <br />
          <p>Raddit is a Hacker News and Reddit style user driven site that allows users to add links for news, sports, etc.
            This app was a tutorial I did on my own to gain more experience with Ruby on Rails.  Specically using the Rails scaffold command, as well as using the acts_as_votable and simple_form gems.  Bootstrap was added for styling.</p>
            <br />
            <div class="tech-stack">
              <b>Tech Stack:</b>
            </div>
            <br />
            <div class="stack-images">
              <div class="heroku-icon">
                <span title="Heroku"><img src="/images/heroku.png" alt="Heroku"></span>
              </div>  
              <div class="rails-icon">
                <span title="Ruby On Rails"><img src="/images/rails.png" alt="Ruby On Rails"></span>
              </div>
                <!-- <span title="Spotify"><img src="/images/spotify.png" alt="Spotify"></span> -->
                <span title="Bootstrap"><img src="/images/bootstrap.png" alt="Bootstrap"></span>
                <br />
                <br />
                <!-- <a href="https://github.com/matthewsalan" target="_blank">View Live</a> | -->
                <a href="https://github.com/matthewsalan" target="_blank">View Code</a>
              </div>         
      </div>

      <div class="contact-info-footer">
    <h2>Alan Matthews - Rails Developer</h2>     
      <div class="custom-links-portfolio-footer">
        <span title="Github"><a class="icon-github-port" href="https://github.com/matthewsalan" target="_blank">
          <i class="fa fa-github"></i>
          </a></span>
            &nbsp;&nbsp;·&nbsp;&nbsp;
          <span title="Linkedin"><a class="icon-linkedin-port" href="http://www.linkedin.com/pub/alan-matthews/22/16a/168/en" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a></span>
              &nbsp;&nbsp;·&nbsp;&nbsp;
          <span title="Email Me"><a class="email-icon" href="mailto:matthewsa1320@gmail.com">
            <i class="fa fa-paper-plane"></i>
          </a></span>
            &nbsp;&nbsp;·&nbsp;&nbsp;
          <span title="My Resume"><a class="resume-icon" href="/resume/">
            <i class="fa fa-file-text-o"></i>
          </a></span>
      </div>
  </div>      

  <div class="bottom-closer">
    <!-- <div class="background-closer-image" {%if site.cover %} style="background-image: url({{ site.cover }})"{% endif %}>
      Image -->
    <!-- </div> -->
    <div class="inner">
      <!-- <h1 class="blog-title">{{ site.title }}</h1> -->
      <!-- <h2 class="blog-description">{{ site.description }}</h2> -->
      <div class="link-btns">
        <a href="/resume/" class="btn round">Back to Experience</a>
        <a href="/" class="btn">&nbsp&nbspBack to Home&nbsp&nbsp</a>
      </div>
    </div>
  </div>